#Loan Prediction

In [39]:
# importing required libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [32]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
# read the dataset
data = pd.read_csv('train_ctrUa4K.csv')
print(data.head())

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [3]:
print('Column Names:\n\n')
print(data.columns)

Column Names:


Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [4]:
#label encode the target variable
encode = LabelEncoder()
data.Loan_Status = encode.fit_transform(data.Loan_Status)

In [5]:
data.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           1
1  LP001003   Male     Yes  ...            1.0         Rural           0
2  LP001005   Male     Yes  ...            1.0         Urban           1
3  LP001006   Male     Yes  ...            1.0         Urban           1
4  LP001008   Male      No  ...            1.0         Urban           1

[5 rows x 13 columns]

In [6]:
data.shape

(614, 13)

In [7]:
# drop the row that have null values
data.dropna(how='any',inplace=True)

In [8]:
data.shape

(480, 13)

In [9]:
# train-test-split   
train , test = train_test_split(data,test_size=0.2,random_state=0)

In [10]:
# seperate the target and independent variable
train_x = train.drop(columns=['Loan_ID','Loan_Status'],axis=1)
train_y = train['Loan_Status']

In [11]:
test_x = test.drop(columns=['Loan_ID','Loan_Status'],axis=1)
test_y = test['Loan_Status']

In [12]:
# encode the data
train_x = pd.get_dummies(train_x)
test_x  = pd.get_dummies(test_x)

In [13]:
print('shape of training data : ',train_x.shape)
print('shape of testing data : ',test_x.shape)

shape of training data :  (384, 20)
shape of testing data :  (96, 20)

In [44]:
# Using Logistic Regression model
LR = LogisticRegression()
LR.fit(train_x,train_y)
predict = LR.predict(test_x)
print('Accuracy Score on test data using Logistic Regression: ', accuracy_score(test_y,predict))

Accuracy Score on test data using Logistic Regression:  0.7291666666666666

In [46]:
# Using SVC model
svc = SVC()
svc.fit(train_x,train_y)
predict = svc.predict(test_x)
print('Accuracy Score on test data using SVC: ', accuracy_score(test_y,predict))

Accuracy Score on test data using SVC:  0.6354166666666666

In [47]:
# Using Decision Tree model
DT = DecisionTreeClassifier()
DT.fit(train_x,train_y)
predict = DT.predict(test_x)

# depth of the decision tree
print('Depth of the Decision Tree :', DT.get_depth(),'\n')

print('Accuracy Score on test data using SVC: ', accuracy_score(test_y,predict))

Depth of the Decision Tree : 16

Accuracy Score on test data using SVC:  0.6354166666666666

In [49]:
# Using KNN
KNN = KNeighborsClassifier()  
KNN.fit(train_x,train_y)
predict = KNN.predict(test_x)

# Number of Neighbors used to predict the target
print('The number of neighbors used to predict the target : ',KNN.n_neighbors,'\n')

print('Accuracy Score on test data using KNN: ', accuracy_score(test_y,predict))

The number of neighbors used to predict the target :  5

Accuracy Score on test data using KNN:  0.59375